In [1]:
import sys
from os import path
from io import StringIO
import argparse
import csv
import json
import pandas as pd

In [2]:
COLUMN = [
    "timestamp",
    "type",
    "channel",
    "mac",
    "average_rtt",
    "average_distance",
    "all_rtt_data"
    ]

In [3]:
def extract_csi_data(strings: str, num: int):
    """ extract csi data from string beginning with "CSI_DATA"

    :strings: string beginning with "CSI_DATA"
    :num: the elements number in strings
    :returns: List[type,id,mac,rssi,rate,sig_mode,mcs,bandwidth,smoothing,not_sounding,aggregation,stbc,fec_coding,sgi,noise_floor,ampdu_cnt,channel,secondary_channel,local_timestamp,ant,sig_len,rx_state,len,first_word,data]

    """
    f = StringIO(strings)
    csv_reader = csv.reader(f)
    csi_data = next(csv_reader)

    # if len(csi_data) != num:
    #     raise ValueError(f"element number is not equal {num}")

    # try:
    #     json.loads(csi_data[-1])
    # except json.JSONDecodeError:
    #     raise ValueError(f"data is not incomplete")
        
    return csi_data

In [14]:
# if __name__ == '__main__':
#     if sys.version_info < (3, 6):
#         print(" Python version should >= 3.6")
#         exit()

#     parser = argparse.ArgumentParser(
#         description="filter CSI_DATA from console_test logfile")
#     parser.add_argument('-S', '--src', dest='src_file', action='store', required=True,
#                         help="console_test logfile")
#     parser.add_argument('-D', '--dst', dest='dst_file', action='store', default=None,
#                         help="output file saved csi data")
#     args = parser.parse_args()

#     src_file = args.src_file
#     dst_file = args.dst_file
#     if dst_file is None:
#         dst_file = path.splitext(path.basename(src_file))[0] + ".csv"

In [4]:
    f_src = open('log.ftm.20220627184355.364cm.200ms.2p.R251.txt','r',encoding='utf8',errors="ignore")


#     f_src = open('log.355cm.test.txt', 'r')
    f_dst = open('outputftm_27', 'w')
    csv_writer = csv.writer(f_dst)
    csv_writer.writerow(COLUMN)

    while True:
        strings = f_src.readline()
        if not strings:
            break

        index = strings.find(('FTM_DATA'))
        if index != -1:
            try:
                row_csi = extract_csi_data(strings[index:], 5)
                csv_writer.writerow(row_csi)
            except ValueError:
                continue

    f_src.close()
    f_dst.close()
#     print(f"Saved ftm data to {dst_file}")

In [2]:
df = pd.read_csv('outputftm_27', header=None, sep='\n')
df = df[0].str.split(',', expand=True)

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,type,channel,mac,average_rtt,average_distance,all_rtt_data,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,FTM_DATA,1,7c:df:a1:06:99:97,208,31.30,""" """"[270313""",268750,268750,268751,270313,...,271876,273438,273438,271875,273438,273438,273438,273438,"""1073544996]""""""",None
2,FTM_DATA,2,7c:df:a1:06:99:97,45,6.76,""" """"[57813""",59375,59376,59376,59375,...,67188,67188,67188,67188,65626,67188,67188,"""1073544996]""""""",None,None
3,FTM_DATA,3,7c:df:a1:06:99:97,38,5.72,""" """"[57813""",56250,56251,56251,46875,...,54688,54688,54688,54688,54688,53126,53125,53125,53126,"""1073544996]"""""""
4,FTM_DATA,4,7c:df:a1:06:99:97,43,6.50,""" """"[60938""",62500,62501,62501,60938,...,59375,60938,60938,59375,59376,59375,59375,"""1073544996]""""""",None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,FTM_DATA,6,7c:df:a1:06:99:97,23,3.51,""" """"[37500""",39063,37500,37501,37501,...,37500,37501,37500,37501,37501,37501,35938,39063,35938,"""1073544996]"""""""
717,FTM_DATA,7,7c:df:a1:06:99:97,30,4.55,""" """"[45313""",45313,46876,45313,45313,...,45313,46875,46875,46876,46875,45313,45313,46875,46875,"""1073544996]"""""""
718,FTM_DATA,8,7c:df:a1:06:99:97,26,3.90,""" """"[40625""",40626,42188,40625,40625,...,40626,40625,40625,40626,40626,40625,40625,40626,40626,"""1073544996]"""""""
719,FTM_DATA,9,7c:df:a1:06:99:97,32,4.81,""" """"[46875""",45313,48438,46875,46875,...,46876,46875,46875,46876,46876,46876,46876,48438,"""1073544996]""""""",None
720,FTM_DATA,10,7c:df:a1:06:99:97,35,5.33,""" """"[50001""",51563,51563,51563,51563,...,51563,53125,51563,51563,51563,51563,53125,51563,"""1073544996]""""""",None

In [25]:
import re
matches = re.findall(r'FTM session with(.+?)in',strings)

In [26]:
matches

[]

In [19]:
strings = f_src.readline()
strings.find(('FTM session with'))

ValueError: I/O operation on closed file.