In [1]:
import sys
from os import path
from io import StringIO
import argparse
import csv
import json
import pandas as pd

In [2]:
COLUMN = [
    "timestamp",
    "type",
    "channel",
    "mac",
    "average_rtt",
    "average_distance",
    "all_rtt_data"
    ]

In [3]:
def extract_csi_data(strings: str, num: int):
    """ extract csi data from string beginning with "CSI_DATA"

    :strings: string beginning with "CSI_DATA"
    :num: the elements number in strings
    :returns: List[type,id,mac,rssi,rate,sig_mode,mcs,bandwidth,smoothing,not_sounding,aggregation,stbc,fec_coding,sgi,noise_floor,ampdu_cnt,channel,secondary_channel,local_timestamp,ant,sig_len,rx_state,len,first_word,data]

    """
    f = StringIO(strings)
    csv_reader = csv.reader(f)
    csi_data = next(csv_reader)

    # if len(csi_data) != num:
    #     raise ValueError(f"element number is not equal {num}")

    # try:
    #     json.loads(csi_data[-1])
    # except json.JSONDecodeError:
    #     raise ValueError(f"data is not incomplete")
        
    return csi_data

In [5]:
    f_src = open('log.ftm.20220627184355.364cm.200ms.2p.R251.txt','r',encoding='utf8',errors="ignore")
    f_dst = open('log.ftm.20220627184355.364cm.200ms.2p.R251', 'w')
    csv_writer = csv.writer(f_dst)
    csv_writer.writerow(COLUMN)

    while True:
        strings = f_src.readline()
        if not strings:
            break

        index = strings.find(('FTM_DATA'))
        if index != -1:
            try:
                row_csi = extract_csi_data(strings.replace(' FTM_DATA', ',FTM_DATA'), 5)
#                 row_csi = row_csi


                csv_writer.writerow(row_csi)
            except ValueError:
                continue

    f_src.close()
    f_dst.close()

In [6]:
df = pd.read_csv('outputftm_27', header=None, sep='\n')
df = df[0].str.split(',', expand=True)
df

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,timestamp,type,channel,mac,average_rtt,average_distance,all_rtt_data,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,2022-06-27 18:44:57,FTM_DATA,1,7c:df:a1:06:99:97,212,31.80,""" """"[276563""",278125,276563,276563,...,276563,276563,276563,276563,278125,278125,276563,276563,"""1073544996]""""""",None
2,2022-06-27 18:44:59,FTM_DATA,2,7c:df:a1:06:99:97,62,9.36,""" """"[82813""",81251,82813,81251,...,82813,82813,82813,81250,82813,81250,84375,"""1073544996]""""""",None,None
3,2022-06-27 18:45:01,FTM_DATA,3,7c:df:a1:06:99:97,57,8.58,""" """"[78126""",76563,78126,76563,...,76563,75000,76563,76563,78125,"""1073544996]""""""",None,None,None,None
4,2022-06-27 18:45:03,FTM_DATA,4,7c:df:a1:06:99:97,65,9.88,""" """"[85938""",87501,87500,85938,...,85938,84375,87501,85938,"""1073544996]""""""",None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,2022-06-27 19:06:55,FTM_DATA,6,7c:df:a1:06:99:97,21,3.25,""" """"[35938""",35938,35938,34375,...,34375,35938,37501,35938,35938,35938,35938,35938,37501,"""1073544996]"""""""
717,2022-06-27 19:06:57,FTM_DATA,7,7c:df:a1:06:99:97,26,3.90,""" """"[42188""",42188,42188,42188,...,40625,39063,39063,40626,40625,39063,39063,40626,40625,"""1073544996]"""""""
718,2022-06-27 19:06:59,FTM_DATA,8,7c:df:a1:06:99:97,22,3.38,""" """"[35938""",35938,37501,35938,...,35938,35938,35938,35938,34376,35938,34375,35938,34376,"""1073544996]"""""""
719,2022-06-27 19:07:01,FTM_DATA,9,7c:df:a1:06:99:97,23,3.51,""" """"[35938""",35938,35938,35938,...,35938,37500,39063,37501,37501,37500,37500,37501,37501,"""1073544996]"""""""
720,2022-06-27 19:07:02,FTM_DATA,10,7c:df:a1:06:99:97,32,4.81,""" """"[48438""",48438,46876,46876,...,46876,46875,46876,48438,46875,48438,46875,46876,"""1073544996]""""""",None